@{
    this.ViewBag.Title = "Create New Rental";
}

<h2>New Rental Form</h2>


<form id="createRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customerInput" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movieInput" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{

    @Scripts.Render("~/bundles/jqueryval");

    <script>
        $(document).ready(function () {
            var viewModel = {
                movieIds: []
            };

            var customers = bloodhoundCustom('name', '/api/customers');
            var movies = bloodhoundCustom('name', '/api/movies');

            $('#customerInput').typeahead({
                minLength: 3,
                highlight: true
            },
                {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select", function (e, customer) {
                    viewModel.customerId = customer.id;
                });

            $('#movieInput').typeahead({
                minLength: 3,
                highlight: true
            },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select", function (e, movie) {
                    $('#movies').append("<li class='list-group-item'>" + movie.name + "</li>");
                    $("#movieInput").typeahead("val", "");
                    viewModel.movieIds.push(movie.id);
                });

            $.validator.addMethod("validCustomer", function () {
                return viewModel.customerId && viewModel.customerId !== 0;
            }, "Please select a valid customer!");

            $("#createRental").validate({
                submitHandler: function (form, event) {
                    event.preventDefault();

                    $.ajax({
                        url: "/api/NewRentals",
                        type: "POST",
                        data: viewModel,
                        //dataType: 'json',
                        success: function (data) {
                            toastr.success("Rentals successfully recorded.");
                        },
                        error: function (msg) {
                            console.log(msg);
                        }
                    });
                }
            });

            function bloodhoundCustom(column, url) {
                return new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace(column),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: url + '?query=%QUERY',
                        wildcard: '%QUERY'
                    }
                });
            }
        })
    </script>
}