@model IEnumerable<Vidly.Models.Movie>

@{
    this.ViewBag.Title = "All Movies";
}

<h1>Movies</h1>
@Html.ActionLink("New Movie", "Create", "Movies", null, new { @class = "btn btn-primary" })
@if (this.Model.Count() == 0)
{
    <p>There are no movies yet!</p>
}
else
{
    <table id="movies-tbl" class="table table-bordered">
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in this.Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Edit", new { id = item.Id })</td>
                <td>@item.Genre.Name</td>
                <td data-movie-id="@item.Id" class="btn btn-link js-delete">Delete</td>
            </tr>
        }
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            console.log("in")
            $("#movies-tbl").on("click", ".js-delete", function () {
                var deleteButton = this; 
                var movieId = $(deleteButton).attr("data-movie-id");

                $.ajax({
                    url: "/api/movies/" + movieId, 
                    type: "DELETE", 
                    success: function () {
                        $(deleteButton).parents("tr").remove(); 
                    }
                })
            })
        })
    </script>
}