@model IEnumerable<Vidly.Models.Movie>

@{
    this.ViewBag.Title = "All Movies";
}

<h1>Movies</h1>
@if (this.Model.Count() == 0)
{
    <p>There are no movies yet!</p>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        @foreach (var item in this.Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</td>
                <td>@item.Genre.Name</td>
            </tr>
        }
    </table>
}