@model IEnumerable<Vidly.ViewModels.IndexCustomerViewModels>

@{
    this.ViewBag.Title = "All Customers";
}

<h1>Customers</h1>
@Html.ActionLink("New Customer", "Create", "Customers", null, new { @class = "btn btn-primary" })
@if (this.Model.Count() == 0)
{
    <p>There are no registered customers yet!</p>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>
        </tr>
        @foreach (var item in this.Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Edit", new { id = item.Id })</td>
                <td>@item.MembershipType.Name</td>
            </tr>
        }
    </table>
}